.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(15%,80px);
}

.navbar .profile{
    border-radius:30px;
    width: 60px;
    
}
hr {
    border: 1px solid black;
    margin: 10px 0;
    padding-top: 0;
  }